<a href="https://colab.research.google.com/github/natdebandi/infovis2/blob/main/TP_datos_personales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Analisis de datos personales**

El objetivo es analizar el uso personal de las redes sociales y otras herramientas virtuales durante un mes (o el perÃ­odo posible)

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
pip install duckdb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: duckdb in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from duckdb) (1.21.6)

In [ ]:
import duckdb

In [ ]:
#esto es para poder leer los datos desde el drive.
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# REACCIONES EN DISTINTAS PLATAFORMAS

In [ ]:
#conecto con duckdb y creo una tabla
con = duckdb.connect(database=':memory:')
sql="""Create table reactions (date_event DATE, name VARCHAR, reaction VARCHAR);"""
source = con.execute(sql).df()
source.head()

Empty DataFrame
Columns: [Count]
Index: []

In [ ]:
#sql="""insert into reactions (date_event, name, reaction) values ('2008-01-01', 'facebook', 'test');"""
#source = con.execute(sql).df()
#source.head()

##1. Reacciones y post de FACEBOOK

In [ ]:
## 1. leo las reacciones 
dffb = pd.read_csv('/content/drive/MyDrive/_NAT2022/ITBA/Visualizacion datos/datos/FB_reactions.csv')
dffb.head()

,Unnamed: 0,date,reaction,reactions_v2/data/0/reaction/actor,reactions_v2/title
0,0,2021-11-05 13:56:41,LOVE,Nat Debandi,Nat Debandi reaccionÃÂ³ a una publicaciÃÂ³n.
1,1,2021-11-05 16:40:09,LOVE,Nat Debandi,Nat Debandi reaccionÃÂ³ a una publicaciÃÂ³n.
2,2,2021-11-06 16:45:08,LOVE,Nat Debandi,Nat Debandi reaccionÃÂ³ a una publicaciÃÂ³n.
3,3,2021-11-06 16:45:29,LOVE,Nat Debandi,Nat Debandi reaccionÃÂ³ a una publicaciÃÂ³n.
4,4,2021-11-07 00:35:38,LOVE,Nat Debandi,Nat Debandi reaccionÃÂ³ a una publicaciÃÂ³n.

In [ ]:
"inserto las reacciones"
sql="""insert into reactions (date_event, name, reaction) (SELECT date, 'Facebook',reaction FROM dffb)"""
source = con.execute(sql).df()
source.head()

   Count
0   1296

In [ ]:
## 2. leo los post
dffb = pd.read_csv('/content/drive/MyDrive/_NAT2022/ITBA/Visualizacion datos/datos/FBpost_completo.csv')
dffb

,Unnamed: 0,date,data
0,0,2008-09-22 20:59:21,[{'post': 'is comiendo buÃÂ±uelos de espinaca'}]
1,1,2008-09-27 11:54:32,[{'post': 'va a hacer alfaljorcitos'}]
2,2,2008-09-28 10:05:30,[{'post': 'domingueando'}]
3,3,2008-09-30 21:47:36,[{'post': 'is diciendole feliz cumple a daro'}]
4,4,2008-10-01 21:23:22,[{'post': 'duerme'}]
...,...,...,...
2164,2164,2022-10-20 19:08:34,[{'post': 'FELIZ CUMPLE IUDIII'}]
2165,2165,2022-11-04 14:06:41,[{'update_timestamp': 1667570801}]
2166,2166,2022-11-08 13:22:26,[{'post': 'Esto es hoy ! organizado por Laut...
2167,2167,2022-11-08 21:35:15,[{'post': 'La hermanita llego ! #pospandemia F...
2168,2168,2022-11-13 12:55:50,[{'update_timestamp': 1668344150}]

In [ ]:
sql="""insert into reactions (date_event, name, reaction) (SELECT date, 'Facebook','post' FROM dffb)"""
source = con.execute(sql).df()
source.head()

   Count
0   2169

In [ ]:
sql="""select name, reaction, count(*) from reactions group by name, reaction;"""
source = con.execute(sql).df()
source

       name reaction  count_star()
0  Facebook     LOVE          1039
1  Facebook     LIKE           172
2  Facebook  SUPPORT            48
3  Facebook     HAHA            27
4  Facebook    ANGER             2
5  Facebook      WOW             3
6  Facebook    SORRY             5
7  Facebook     post          2169

##2. Linkedin
### Incorporo las reaciones de linkedin y los post

In [ ]:
## 2. levanto el archivo de linkedn de reacciones
dflnk = pd.read_csv('/content/drive/MyDrive/_NAT2022/ITBA/Visualizacion datos/datos/linkedin_reactions.csv')
dflnk.head()

,Date,Type,Link
0,2022-11-19 10:27:48,LIKE,https://www.linkedin.com/feed/update/urn%3Ali%...
1,2022-11-18 23:03:59,LIKE,https://www.linkedin.com/feed/update/urn%3Ali%...
2,2022-11-17 15:35:20,LIKE,https://www.linkedin.com/feed/update/urn%3Ali%...
3,2022-11-17 15:32:08,LIKE,https://www.linkedin.com/feed/update/urn%3Ali%...
4,2022-11-13 19:58:57,LIKE,https://www.linkedin.com/feed/update/urn%3Ali%...

In [ ]:
##inserto las reacciones de linkedin
sql="""insert into reactions (date_event, name, reaction) (SELECT date, 'Linkedin',type FROM dflnk)"""
source = con.execute(sql).df()
source.head()

   Count
0    413

In [ ]:
sql="""select name,count(*) from reactions group by name;"""
source = con.execute(sql).df()
source.head()

       name  count_star()
0  Facebook          3465
1  Linkedin           413

In [ ]:
## 2. levanto el archivo de linkedn de conexiones, las incluyo como parte de las reacciones

dflnk2 = pd.read_csv('/content/drive/MyDrive/_NAT2022/ITBA/Visualizacion datos/datos/linkedin_connections2.csv')
dflnk2.head()

,FirstName,Last Name,Email Address,Company,Position,ConnectedOn
0,German,Santos,NaN,"Estudio Contable- Asesoramiento empresarial, c...",Contador auxiliar de gestiÃ³n,11-18-2022
1,Alejandro NicolÃ¡s,FernÃ¡ndez,NaN,AsociaciÃ³n Argentina de Ãtica y Compliance,Compliance Officer,11-11-2022
2,Ariana,GÃ³mez,NaN,Gobierno de La Pampa,Directora de Seguimiento y EvaluaciÃ³n de PolÃ­t...,11-10-2022
3,Facundo,Malaureille Peltzer,NaN,Data Governance Latam,General Partner,11-4-2022
4,MartÃ­n,Ferreyra,NaN,Grupo Convergencia,Periodista,10-18-2022

In [ ]:
dflnk2['ConnectedOn']=pd.to_datetime(dflnk2['ConnectedOn'],format='%m-%d-%Y')

In [ ]:
##inserto las conexiones como reacciones e linkedin
sql="""insert into reactions (date_event, name, reaction) (SELECT ConnectedOn, 'Linkedin','Connection' FROM dflnk2)"""
source = con.execute(sql).df()
source.head()

   Count
0    635

In [ ]:
##incorporo los post de linkedin
dflnk2 = pd.read_csv('/content/drive/MyDrive/_NAT2022/ITBA/Visualizacion datos/datos/linkedin_messages.csv')
dflnk2.head()

,CONVERSATION ID,CONVERSATION TITLE,FROM,SENDER PROFILE URL,TO,DATE,SUBJECT,CONTENT,FOLDER
0,2-YTM5Yzk3MDctNTAzYS00YjZjLWFmOTEtYTUwYTc0NTM1...,Sponsored Conversation,LinkedIn Member,NaN,Natalia Debandi,2022-11-13 19:58:09 UTC,NaN,"Â¡Hola, %FIRSTNAME%! Me llamo Diane y formo par...",INBOX
1,2-MzM5YTVlZmEtMWUwYi00NWUwLTlmNTUtNzhmZDE2ODI2...,NaN,Natalia Debandi,https://www.linkedin.com/in/natalia-debandiar,Facundo Malaureille Peltzer,2022-11-04 13:29:54 UTC,NaN,Saludos Facundo!,INBOX
2,2-MzM5YTVlZmEtMWUwYi00NWUwLTlmNTUtNzhmZDE2ODI2...,NaN,Facundo Malaureille Peltzer,https://www.linkedin.com/in/facundomp1,Natalia Debandi,2022-11-04 12:25:58 UTC,NaN,Sdos,INBOX
3,2-MzM5YTVlZmEtMWUwYi00NWUwLTlmNTUtNzhmZDE2ODI2...,NaN,Facundo Malaureille Peltzer,https://www.linkedin.com/in/facundomp1,Natalia Debandi,2022-11-04 12:25:56 UTC,NaN,Seguimos en contacto,INBOX
4,2-MzM5YTVlZmEtMWUwYi00NWUwLTlmNTUtNzhmZDE2ODI2...,NaN,Facundo Malaureille Peltzer,https://www.linkedin.com/in/facundomp1,Natalia Debandi,2022-11-04 12:25:46 UTC,NaN,"Natalia, gracias por aceptar la invitaciÃ³n",INBOX

In [ ]:
#dflnk2['date']=pd.to_datetime(dflnk2['date'],format='%Y-%m-%d')
##inserto los mensajes de linkedin
sql="""insert into reactions (date_event, name, reaction) (SELECT date, 'Linkedin','Message' FROM dflnk2)"""
source = con.execute(sql).df()
source.head()

   Count
0    122

In [ ]:
sql="""select name,reaction,count(*) from reactions group by name,reaction;"""
source = con.execute(sql).df()
source

        name    reaction  count_star()
0   Facebook        LOVE          1039
1   Facebook        LIKE           172
2   Facebook     SUPPORT            48
3   Facebook        HAHA            27
4   Facebook       ANGER             2
5   Facebook         WOW             3
6   Facebook       SORRY             5
7   Facebook        post          2169
8   Linkedin        LIKE           407
9   Linkedin     EMPATHY             6
10  Linkedin  Connection           635
11  Linkedin     Message           122

3. IncorpÃ³ro algunas de las apps de Google: youtube, photos y Play

In [ ]:
dfgoogle = pd.read_csv('/content/drive/MyDrive/_NAT2022/ITBA/Visualizacion datos/datos/google_log.csv')
dfgoogle.head()

,Gaia ID,Activity Timestamp,IP Address,Proxiedhost IP Address,Is Non-routable IP Address,Activity Country,Activity Region,Activity City,User Agent String,Product Name,Sub-Product Name,Activity Type,Gmail Access Channel
0,533239498623,2022-10-28 06:57:28 UTC,181.117.236.52,NaN,No,NaN,NaN,NaN,App : GSA_APP. App Version : 13.39.12.26. Os :...,Other,Other,NaN,NaN
1,533239498623,2022-10-28 06:05:33 UTC,181.117.228.39,NaN,No,NaN,NaN,NaN,App : GSA_APP. App Version : 13.39.12.26. Os :...,Other,Other,NaN,NaN
2,533239498623,2022-10-28 05:59:36 UTC,2800:810:54b:1139:84ac:b93f:cf4a:aa3a,NaN,No,NaN,NaN,NaN,App : PLAY_APP. App Version : 32.8.18. Os : AN...,Other,Other,NaN,NaN
3,533239498623,2022-10-28 05:59:36 UTC,2800:810:54b:1139:84ac:b93f:cf4a:aa3a,NaN,No,NaN,NaN,NaN,App : PLAY_APP. App Version : 32.8.18. Os : AN...,Other,Other,NaN,NaN
4,533239498623,2022-10-28 05:53:43 UTC,2800:810:54b:1139:84ac:b93f:cf4a:aa3a,NaN,No,NaN,NaN,NaN,NaN,Other,Other,NaN,NaN

In [ ]:

#dfgoogle['Activity Timestamp'].str[:10]
dfgoogle['Activity Timestamp']=pd.to_datetime(dfgoogle['Activity Timestamp'].str[:10],format='%Y-%m-%d')

In [ ]:
dfgoogle.rename(columns={'Activity Timestamp': 'date'}, inplace=True)
dfgoogle.rename(columns={'Product Name': 'product'}, inplace=True)
dfgoogle.head()

,Gaia ID,date,IP Address,Proxiedhost IP Address,Is Non-routable IP Address,Activity Country,Activity Region,Activity City,User Agent String,product,Sub-Product Name,Activity Type,Gmail Access Channel
0,533239498623,2022-10-28,181.117.236.52,NaN,No,NaN,NaN,NaN,App : GSA_APP. App Version : 13.39.12.26. Os :...,Other,Other,NaN,NaN
1,533239498623,2022-10-28,181.117.228.39,NaN,No,NaN,NaN,NaN,App : GSA_APP. App Version : 13.39.12.26. Os :...,Other,Other,NaN,NaN
2,533239498623,2022-10-28,2800:810:54b:1139:84ac:b93f:cf4a:aa3a,NaN,No,NaN,NaN,NaN,App : PLAY_APP. App Version : 32.8.18. Os : AN...,Other,Other,NaN,NaN
3,533239498623,2022-10-28,2800:810:54b:1139:84ac:b93f:cf4a:aa3a,NaN,No,NaN,NaN,NaN,App : PLAY_APP. App Version : 32.8.18. Os : AN...,Other,Other,NaN,NaN
4,533239498623,2022-10-28,2800:810:54b:1139:84ac:b93f:cf4a:aa3a,NaN,No,NaN,NaN,NaN,NaN,Other,Other,NaN,NaN

In [ ]:
##quiero ver las cantidades por producto para elegir si importo todos o no
sql="""select product, count(*) from dfgoogle group by product"""
#sql="""select * from dfgoogle where product='YouTube'"""
source = con.execute(sql).df()
source

        product  count_star()
0         Other        231850
1        Photos          5474
2         Gmail         32197
3       YouTube          3376
4          Play           301
5   Chrome Sync          1429
6         Drive          3284
7          Maps          7220
8      Calendar          1197
9        Search           423
10  Apps Search           376
11       Wallet             6

In [ ]:
##inserto los ingreso de algunas appa que no tienen uso laboral YouTube,Play,Photos
sql="""insert into reactions (date_event, name, reaction) (SELECT date,'Google-apss',product FROM dfgoogle where product='YouTube' OR product='Play' OR product='Photos' )"""
source = con.execute(sql).df()
source.head()

   Count
0   9151

In [ ]:
sql="""select name,reaction,count(*) from reactions group by name,reaction"""
source = con.execute(sql).df()
source

           name    reaction  count_star()
0      Facebook        LOVE          1039
1      Facebook        LIKE           172
2      Facebook     SUPPORT            48
3      Facebook        HAHA            27
4      Facebook       ANGER             2
5      Facebook         WOW             3
6      Facebook       SORRY             5
7      Facebook        post          2169
8      Linkedin        LIKE           407
9      Linkedin     EMPATHY             6
10     Linkedin  Connection           635
11     Linkedin     Message           122
12  Google-apss        Play           301
13  Google-apss     YouTube          3376
14  Google-apss      Photos          5474

In [ ]:

sql="""select * from reactions """
source = con.execute(sql).df()

source.to_csv('/content/drive/MyDrive/_NAT2022/ITBA/Visualizacion datos/datos/reactions.csv')